Repository aleksandr-kotlyar/python_and_gitlab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chrome:remote, firefox:remote, chrome:local:manual, Pylint

chrome:remote:
  variables:
    TESTS: src/test/moretv
    BROWSER: chrome
    REMOTE: 'True'
  services:
  - name: selenium/standalone-chrome

firefox:remote:
  variables:
    TESTS: src/test/moretv
    BROWSER: firefox
    REMOTE: 'True'
  services:
  - name: selenium/standalone-firefox

chrome:local:manual:
  variables:
    TESTS: src/test/moretv
    BROWSER: chrome
    REMOTE: ''
  image: registry.gitlab.com/aleksandr-kotlyar/python_and_gitlab:python-3.7.6-slim-buster-chrome-85.0.4183.121-1-req

Pylint:
  stage: code_style
  tags:
  - gitlab-org
  allow_failure: true
  script:
  - mkdir ./pylint
  - 'touch __init__.py; pylint --rcfile=pylintrc $PWD | tee ./pylint/pylint.log || pylint-exit $?; rm __init__.py
  
    '
  after_script:
  ...

remove pipeline duplicates (1)
  .gitlab/linter.yml
Due: none

remove pipeline duplicates (2)
  .gitlab/linter.yml
Due: none

remove pipeline duplicates (3)
  .gitlab/linter.yml
Due: none

rename score to score.log file + add docs to up the quality
  .gitlab/linter.yml
  quality_control.py
Due: Pylint

fix code style
  quality_control.py
Due: Pylint

turn off MR Approve job for a while.
  .gitlab/.gitlab-ci.yml
Due: none

turn on MR Approve job
  .gitlab/.gitlab-ci.yml
  .gitlab/linter.yml
  quality_control.py
Due: Pylint

change filename score to score.log
  .gitlab/.gitlab-ci.yml
  .gitlab/linter.yml
  quality_control.py
Due: Pylint

Turn Merge Request stage on
  .gitlab/.gitlab-ci.yml
Due: none

Turn Merge Request stage off
  .gitlab/linter.yml
Due: none

Turn Merge Request stage on
  .gitlab/linter.yml
Due: none

Add anybadge generation from pylint score and saving it to artifacts as pylint.svg. #15
  .gitlab/linter.yml
Due: none

Put CI_JOB_URL into artifacts as job_url.log file. #15
  .gitlab/linter.yml
Due: none

Make ci update project badge by id (PUT) #15
  .gitlab/.gitlab-ci.yml
  .gitlab/badge.yml
Due: none

Rule: Generate badges only if .py files have been changed.
  .gitlab/badge.yml
Due: none

Turn off Quality control job.
  .gitlab/linter.yml
Due: none

Pylint 'unused-variable' fix
  src/test/test_file_downloader.py
Due: Pylint

Add job 'Pylint Hard' which blocks pipeline when new errors found in code, but ignores known patterns from found by 'Pylint' job.
  .gitlab/linter.yml
Due: none

Pylint fix issues.
  .gitlab/allure.yml
  artifacts.py
  generate_index.py
Due: Pylint

Added two safety jobs with checking local repo and with checking pip freeze dependencies. #29
  .gitlab/linter.yml
Due: none

Pylint up to 2.6.0 image. Updated requirements.txt and ci image. #31
  .gitlab/.gitlab-ci.yml
  requirements.txt
Due: none

Fix Pylint 'import-error' issue #32
  pylintrc
Due: none

Fix Pylint 'logging-fstring-interpolation' issue #33
  pylintrc
Due: none

Extract safety jobs from linter.yml to security.yml and put safety jobs onto new stage: 'security'. #29
  .gitlab/.gitlab-ci.yml
  .gitlab/linter.yml
  .gitlab/security.yml
Due: none

Check safety on every push or merge_request, no matter .py files changed. #29
  .gitlab/security.yml
Due: none

Integrate trivy security scan for container into pipeline #27
  .gitlab/.gitlab-ci.yml
  .gitlab/security.yml
  Dockerfile
Due: none

Integrate bandit as pipeline security stage job. #30 Skip assert rule in tests project. Skip .venv/ dir.
  .gitlab/security.yml
Due: none

Add mimesis 4.1.2 to req and docker img. Resolved #36 B113 bandit report.
  .gitlab/.gitlab-ci.yml
  Dockerfile
  requirements.txt
  src/test/test_duplicates.py
Due: Pylint

Fix pylint 'useless-super-delegation' message and remove as disabled rule from 'Pylint Hard' job. #37
  .gitlab/linter.yml
  src/main/session.py
Due: Pylint

Fix path to api tests resources jsons.
  src/main/file.py
Due: Pylint

Skip pylint 'arguments-differ' message in session.py and remove as disabled from global rules.
  .gitlab/linter.yml
  src/main/session.py
Due: Pylint

Skip pylint 'global-statement' message in test_assertions.py and remove as disabled from global rules. #37
  .gitlab/linter.yml
  src/test/test_assertions.py
Due: Pylint

Fix pylint 'line-too-long' message and remove as disabled from global rules. #37
  .gitlab/linter.yml
  src/main/session.py
  src/test/old_ctc/tvprogram/test_weeks_slider.py
  src/test/test_file_downloader.py
Due: Pylint

Remove disabled 'invalid-name' rule from global rules.
  .gitlab/linter.yml
Due: none

Rename MySession to ApiSession; Fix file paths in api tests.
  fixtures_session.py
  src/main/file.py
  src/main/session.py
  src/test/test_api.py
Due: Pylint

Fix pylint 'missing-function-docstrings' in fixtures_browsers.py
  fixtures_browsers.py
Due: Pylint

Disable pylint rules in allure_helpers.py; Remove exception raising.
  src/main/allure_helpers.py
Due: Pylint

Pylint fix 'missing-function-docstring', 'missing-class-docstring'. #37 Remove unnecessary pylint job 'Pylint Hard'. Remove pylint-exit from Pylint job.
  .gitlab/linter.yml
  src/main/session.py
  src/test/moretv/__init__.py
  src/test/moretv/main_page/__init__.py
  src/test/old_ctc/__init__.py
  src/test/old_ctc/tvprogram/__init__.py
  src/test/old_ctc/tvprogram/test_weeks_slider.py
  src/test/test_api.py
  src/test/test_assertions.py
  src/test/test_duplicates.py
  src/test/test_file_downloader.py
Due: chrome:remote, firefox:remote, chrome:local:manual, Pylint

Fix pylint 'trailing-whitespace'.
  src/test/test_duplicates.py
Due: Pylint

Create main.yml
  .github/workflows/main.yml
Due: none

Path conditions:
  chrome:remote: any of: src/test/moretv/**/*
  firefox:remote: any of: src/test/moretv/**/*
  chrome:local:manual: any of: src/test/moretv/**/*
  Pylint: any of: **/*.py
